@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Poppins:wght@500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .calemly-sdk {
    font-family: Inter, ui-sans-serif, system-ui;
    color: #1f2937;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .calemly-sdk *,
  .calemly-sdk *::before,
  .calemly-sdk *::after {
    box-sizing: border-box;
  }

  .calemly-sdk button {
    appearance: none;
    -webkit-appearance: none;
    border: 0;
    background: transparent;
    padding: 0;
  }

  .calemly-sdk button,
  .calemly-sdk input,
  .calemly-sdk textarea,
  .calemly-sdk select {
    font: inherit;
    color: inherit;
  }
}

@layer utilities {
  .line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
